/* Rules styles */

.btn {
  display: inline-block;
  background-color: inherit;
  color: #dcd7d7;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid hsl(217, 16%, 45%);
  position: absolute;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

.rules-content.popup-active {
  display: block;
  clip-path: circle(100% at 50% 50%);
}

.rules-content {
  display: none;
  height: auto;
  width: auto;
  background-color: #eee;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.rules-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.rules-close > h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

.close-icon {
  cursor: pointer;
}
