* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  overflow: hidden;
}

header {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 75%;
  position: relative;
}
